body {
    background-image: url(../img/LEJ9mSj.jpg);
}

.wrapper {
    position: absolute;
    top: 5vh;
    left: 20vw;
    width: 60vw;
    height: 90vh;
}

.backgroundImg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1 {
    text-align: center;
}

form {
    margin-top: 10vh;
    margin-left: 3vw;
}

textarea {
    width: 55vw;
}

#backButton {
    position: absolute;
    top: 80vh;
    right: 2vw;
}
