<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Solverly - log problem</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/core.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/components.css" rel="stylesheet" type="text/css">
	<link href="/assets/css/colors.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
	<script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
	<script type="text/javascript" src="/assets/js/plugins/ui/nicescroll.min.js"></script>
	<script type="text/javascript" src="/assets/js/plugins/ui/drilldown.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script type="text/javascript" src="/assets/js/plugins/forms/styling/uniform.min.js"></script>

	<script type="text/javascript" src="/assets/js/core/app.js"></script>
	<script type="text/javascript" src="/assets/js/pages/form_inputs.js"></script>
	<!-- /theme JS files -->
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
    <script>
        function captchaSubmit(data) {
            console.log("Form submit");
            document.getElementById("formLogProblem").submit();
        }
        
        function logOut() {
            document.getElementById("logOut").submit();
        }
    </script>
</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" href="https://solverly.io/"><img src="/assets/images/logo_light.png" alt=""></a>

			<ul class="nav navbar-nav pull-right visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav navbar-right">

				<li class="dropdown dropdown-user">
					<a class="dropdown-toggle" data-toggle="dropdown">
						<img src="/assets/images/placeholder.jpg" alt="">
						<span><%= user.firstName %></span>
						<i class="caret"></i>
					</a>

					<ul class="dropdown-menu dropdown-menu-right">
                        <!--
						<li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
						<li><a href="#"><i class="icon-coins"></i> My balance</a></li>
						<li><a href="#"><span class="badge badge-warning pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>
						<li class="divider"></li>
                        -->
						<li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
						<li><a href="#" onclick="logOut()"><i class="icon-switch2"></i> Logout</a></li>
                        <form style="display: none" id="logOut" action="/auth/logOut" method="post">
                        </form>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	
	<!-- Page header -->
	<div class="page-header">
		<div class="page-header-content">
			<div class="page-title">
				<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Forms</span> - Basic Inputs</h4>

				<ul class="breadcrumb breadcrumb-caret position-right">
					<li><a href="index.html">Home</a></li>
					<li><a href="form_inputs_basic.html">Forms</a></li>
					<li class="active">Basic inputs</li>
				</ul>
			</div>

			<div class="heading-elements">
				<div class="heading-btn-group">
					<a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
					<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
					<a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
				</div>
			</div>
		</div>
	</div>
	<!-- /page header -->


	<!-- Page container -->
	<div class="page-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Form horizontal -->
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h5 class="panel-title">Log problem</h5>
						<div class="heading-elements">
							<ul class="icons-list">
		                		<li><a data-action="collapse"></a></li>
		                		<li><a data-action="reload"></a></li>
		                		<li><a data-action="close"></a></li>
		                	</ul>
	                	</div>
					</div>

					<div class="panel-body">
						<p class="content-group-lg">Fill in the boxes to log a new problem.</p>
                        
                        <form id="formLogProblem" class="form-horizontal" action='/auth/logProblem' method='post'>
							<fieldset class="content-group">
								<legend class="text-bold">Problem</legend>

								<div class="form-group">
									<label class="control-label col-lg-2">Summary</label>
									<div class="col-lg-10">
										<input name="summary" type="text" class="form-control"  placeholder="Describe your problem in a sentence">
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-lg-2">Details</label>
									<div class="col-lg-10">
										<textarea name="description" rows="5" cols="5" class="form-control" placeholder="Be as detailed as possible"></textarea>
									</div>
								</div>
                                
                                <div class="form-group">
									<label class="control-label col-lg-2">Address</label>
									<div class="col-lg-10">
										<input id="inputAddress" name="address" type="text" class="form-control"  placeholder="Flat, Street Address, City, State, ZIP, etc">
									</div>
								</div>
							</fieldset>
                            
                            <div class="form-group">
                                <label class="control-label col-md-2">Tel</label>
                                <div class="col-md-10">
                                    <input name="phone" type="tel" class="form-control" pattern='^\+?\d{0,13}' placeholder="Phone number">
                                </div>
                            </div>
                            
							<div class="text-right">
								<button type="submit" 
                                        class="g-recaptcha btn btn-primary"
                                        data-sitekey="6Lf51jQUAAAAAF1EDg68EEZvyr1pvb2O_Nj13k8l"
                                        data-callback="captchaSubmit">
                                    Submit <i class="icon-arrow-right14 position-right"></i>
                                </button>
							</div>
						</form>
					</div>
				</div>
				<!-- /form horizontal -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->


	<!-- Footer
	<div class="footer text-muted">
		&copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
	</div>
	<!-- /footer -->

</body>
<script src='/js/logProblem.js'></script>
</html>
