<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="stylesheet" href="/css/profileSettings.css">
    
    <script src='/js/client.js' ></script>

    <title>Solverly</title>
</head>

<body>
    <h1>
        Profile: <%= user.firstName%>
    </h1>
    <div class="wrapper">        
        <img class="backgroundImg" src="/img/rectangle.png"/>
        <% if(typeof error != 'undefined') { %>
            <h2>
                <%= error %>
            </h2>
        <% } %>
        <form id="updateForm" action='' method="post">
            <div>
                <label>First Name:</label>
                <input type="text" name="firstName" value="<%= user.firstName %>"/>
            </div>
            <div>
                <label>Last Name:</label>
                <input type="text" name="lastName" value="<%= user.lastName %>"/>
            </div>
            <div>
                <label>Current password</label>
                <input type="password" name="password" required/>
            </div>
            <div>
                <label>New password (optional)</label>
                <input type="password" name="newPassword"/>
            </div>
            <div>
                <label>Confirm new password (optional)</label>
                <input type="password" name="confirmNewPassword"/>
            </div>
            <div>
                <input type="submit" id="update" value="Update"/>
            </div>
        </form>        
    </div>
    <form id="logOut" action="/auth/logOut" method="post">
        <input type="submit" value="Log out">
    </form>
    <form id="backButton" action="/" method="get">
        <input type="submit" value="Back" />
    </form>
</body>

